<div layout="row" layout-align="center" class="turn">
  <mm-cell ng-repeat="cell in game.turn" ng-model="cell" ></mm-cell>
  <md-button ng-disabled="!game.isValid()" class="md-warn" ng-click="game.guess()">Guess</md-button>
</div>
<div layout="row" layout-align="center" class="history">
  <md-list layout="column">
    <md-list-item ng-repeat="turn in game.history | orderBy: '-age'" class="md-1-line md-no-proxy turn won-{{turn.success}} partial-won-{{turn.partialSuccess}}">
      <md-button ng-disabled="game.selecting" ng-click="game.initTurn(turn.guess)" >Start With: </md-button>
      <span ng-repeat="cell in turn.guess">
        <mm-cell ng-model="cell" disabled></mm-cell>
      </span>
      hits:&nbsp;<b>{{ turn.hits }}</b> , partials:&nbsp;<b>{{ turn.partials }}</b> 
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</div>