@import "abstracts/_";

@each $name, $color in $options {
  .cell-color-#{$name} {
    background-color: $color;
  }
  .option-color-#{$name} {
    border-color: $color;
  }
}

.cell-is-selected, .cell.ng-click-active {
  background-image: url(../../assets/images/selected-black.svg);
  background-size: cover;
}

.cell-color-select {
  border: solid 1px color(border);
  background-color: color(background);
  &.cell-is-selected, &.ng-click-active {
    background-image: url(../../assets/images/selected.svg);
  }
}

.cell[disabled] {
  cursor: not-allowed;
}

.play[disabled] {
  color: color(background);
  cursor: not-allowed;
}

.turn[disabled] {
}
